*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
}


#menu-toggle{
    display:none;
}


.open-btn{
    display:inline-block;
    margin:20px;
    padding:10px 15px;
    background:#2c3e50;
    color:white;
    cursor:pointer;
}


.sidebar{
    position:fixed;
    top:0;
    left:-100%;
    width:280px;
    height:100%;
    background:#2c3e50;
    padding:60px 20px;
    transition:0.3s ease;
}


#menu-toggle:checked ~ .sidebar{
    left:0;
}

.sidebar a{
    display:block;
    color:white;
    text-decoration:none;
    margin:10px 0;
}

.close-btn{
    position:absolute;
    top:15px;
    right:15px;
    color:white;
    font-size:20px;
    cursor:pointer;
}

